  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="">
            <span>
              Bici Ecommerce 
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">

              <ul class="navbar-nav  ">

                <li class="nav-item active">
                  <a class="nav-link" href="/"> 
                  	<%= t "home.start" %> 
                  <span class="sr-only">(current)</span>
              	  </a>
                </li>

                <li class="nav-item">
                    <% if current_manager.present? %>

                  	 <%= link_to "Cerrar sesión", "/managers/sign_out", class: "nav-link"  %> 
                     
                    <% else %>

                      <%= link_to t("home.login"), "/managers/sign_in", class: "nav-link" %> 

                    <% end %>
                </li>

              </ul>

              <div class="quote_btn-container ">

                <a href="" class="call_link">
                  <span> Llamanos: </span><%= link_to "+52 477 665 66-56", "tel:+52 477 665 66-56" %>
                </a>

                <a href="" class="cart_link">

                  <img src="images/cart.png" alt="">
                  <span class="cart_number">
                    0
                  </span>

                </a>

                <form class="form-inline">
                  <!-- <button class="btn  nav_search-btn" type="submit"></button> -->
                  <%= link_to "","/products", class: "btn  nav_search-btn" %>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->