
<%= render "shared/navbar" %>

<div class="clearfix"><br/>
<center>
  <h3> Las bicicletas más vendidas </h3>
</center>
<div class="clearfix"><br/>


<div class="container-fluid">
  <% @products.each do |product| %>
    
      <div class="jumbotron">
        <h1>
          <center>
            <%= product.name %>
          </center>
        </h1>
        <p>
          <div class="row">
            <div class="col-sm-4">
              <img src="<%= product.remote_url %>" />
            </div>
            <div class="col-sm-8">
              <%= product.description %>
            </div>
          </div>
        </p>

        <p align="right">
          <a class="btn btn-primary btn-lg" href="#" role="button">$ <%= product.price.round(2) %></a>
          <!-- <%= product.stripe_price_id %> -->
        </p>
        
        <p align="right">
              <% if current_manager.present? %>
              <!-- <%= link_to 'Show', product, class: "btn btn-primary" %> -->
              <%= link_to 'Edit', edit_product_path(product), class: "btn btn-danger" %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
              <%end%>
        </p>
      </div>

    
  <% end %>
</div>

<div class="clearfix"></div><br/>

<p align="right">
<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
</p>

<div class="clearfix"></div><br/>