
<%= render "shared/navbar" %>

<div class="clearfix"><br/>
<center>
  <h3> Las bicicletas más vendidas </h3>
</center>
<div class="clearfix"><br/>


<div class="container-fluid">
  <% @products.each do |product| %>
    
      <div class="jumbotron">
        <h1>
          <center>
            <%= product.name %>
          </center>
        </h1>
        <p>
          <div class="row">
            <div class="col-sm-4">
              <img src="<%= product.remote_url %>" />
            </div>
            <div class="col-sm-8">
              <%= product.description %>
            </div>
          </div>
        </p>

        <p align="right">
          <a id="cycle-item-<%= product.id -%>" class="btn btn-primary btn-lg" href="#" role="button">$ <%= product.price.round(2) %></a>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
          $(document).ready(function(){
              var PUBLISHABLE_KEY = 'pk_test_51JdgqlBh1rfPGXjsIaXTCX9DhFAHqOsZWT2lIb0V22dOAusxvCaW18tOvh1ZEMvqIfogud9RH6bZTRLDIQm9gEKI00rW2JK8OT'; 
              var DOMAIN = window.location.origin;
              var EBOND_PRICE_ID  = '<%= product.stripe_price_id %>';
              var stripe = Stripe(PUBLISHABLE_KEY);
                    // Handle any errors from Checkout
                    var handleResult = function (result) {
                      if (result.error) {
                        var displayError = document.getElementById("error-message");
                        displayError.textContent = result.error.message;
                      }
                    };
                    var redirectToCheckout = function (priceId) {
                      // Make the call to Stripe.js to redirect to the checkout page
                      // with the current quantity
                      stripe
                        .redirectToCheckout({
                          lineItems: [{ 
                            price: priceId, 
                            quantity: 1 
                          }],
                          successUrl:
                            DOMAIN + "/thankyou",
                          cancelUrl: DOMAIN + "/cancel",
                          mode: 'payment',
                          clientReferenceId: '<%= product.id -%>'//,
                          //customerEmail: '<%#= current_user.email -%>',
                        })
                        .then(handleResult);
                    };
                    document
                      .getElementById("cycle-item-<%= product.id -%>")
                      .addEventListener("click", function (evt) {
                        redirectToCheckout(EBOND_PRICE_ID);
                      });
          }); 
          </script> 
        </p>
        
        <p align="right">
              <% if current_manager.present? %>
              <!-- <%= link_to 'Show', product, class: "btn btn-primary" %> -->
              <%= link_to 'Edit', edit_product_path(product), class: "btn btn-danger" %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
              <%end%>
        </p>
      </div>

    
  <% end %>
</div>

<div class="clearfix"></div><br/>

<p align="right">
<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
</p>

<div class="clearfix"></div><br/>